@import url("https://fonts.googleapis.com/css?family=Raleway");
body,html{
    height:100%;
    margin:0;
    overflow-x:hidden;
    overflow-y:hidden;
}

/*home*/
.container{
  background-image: linear-gradient(315deg,  rgba(97, 153, 33, 0.1),
  rgba(14, 13, 13, 0.7)),url('https://wallpaperaccess.com/full/767033.jpg');
  min-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
#nav{
display: flex;
justify-content: flex-end;
width: 100%;
text-align: right;
margin-top: 18px;
position: fixed;
right: 6%;

}
.navlink{
font-family:Raleway;
font-size: 15px;
color: white;
font-weight: 500;
text-decoration: none;
padding-left: 53px;
position: relative;
cursor: pointer;

}
.navlink:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -5px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navlink:hover:after { 
    width: 50%; 
    left: 53px; 
  }
  #inner-container{
      display:flex;
      height: 100vh;
      flex-direction: row;
      align-items: center;
      
  }
  #space{
    width:63%;
  }
 
#text{
display: flex;
flex-direction: column;

}
#text1,#text2{
    color: white;
    font-size:45px;
    text-align:left;
    font-weight: 400;
    font-family: Raleway;
  
    
}
#text1{
margin-bottom:0;
animation: moveInleft 3s;

}
#text2{
    font-size:70px;
    margin:-10px 20px 0px 0px;
    animation: moveInleft 3s;
  
}
.btn{
    font-family: Raleway; 
    color:white;
    background-color: inherit; 
    font-weight: 400;
    border:2px solid white ; 
    height:30px;
    width:120px;
    cursor: pointer; 
    transition: all 0.5s;
    animation: moveInleft 3s;
    
}
btn:focus{
   outline: none;
  }
#btnlink{
    text-decoration: none;
    color:white;
}
@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
        
    }
}

.btn span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 15px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }
  #social{
    position:relative;
    top:188px;
     margin-left:90px;
     padding-right:20px;
  }
#line{
    height:80px;
    width:2px;
    background-color: white;
    animation:linedown 3s forwards;
    position: relative;
}
@keyframes linedown {
    0% {
      height: 0px;
    }
    100% {
      height: 100px;
    }
  }


.fa-facebook{
  margin-top:15px;
    animation: showup 4s;
}
.fa-twitter{
    animation: showup 5s;
}
.fa-instagram{
    animation: showup 6s;
}
@keyframes showup {
    0% {opacity:0;}
  50%{opacity:0;}
    100% {opacity:1;}
   
}
.fa1{
  margin-bottom:25px;
  cursor: pointer;
    
}
.enabled{
    height:100%;
   background-image: linear-gradient(315deg,  rgba(25, 26, 24, 0.8),
   rgba(54, 29, 3, 0.8)),url( "https://media.istockphoto.com/photos/laminate-wooden-floor-texture-background-picture-id1083302826?b=1&k=6&m=1083302826&s=170667a&w=0&h=qf8_ylvsQzu9HmA7y-LihgbC2B4wVohCV6xhlPWZcbQ=");
   background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  

}
@media screen and (max-width: 650px) {
  .navlink{
     font-size: 10px;
     padding-left: 23px;
  }
  #text1{
    font-size:35px;
  }
  #text2{
    font-size:55px;
  }
  .btn{
    width:90px;
  }
 }

/*menu*/
#justify-gridcont{
  display:flex;
  justify-content: center;
}
.menu-order{
  display:flex;
  color:white;
  margin:6% 0 0 10%;
 font-size:18px;
  width:79%;
  justify-content: space-between;
}
#order-p1{
  flex-wrap:no-wrap;
}
#order-p2{
  flex-wrap:no-wrap;
}
@media screen and (max-width: 650px) {
  #order-p1,#order-p2{
    font-size:12px;
    padding-top:10px;
  }
}
.grid-container {
    display: grid;
    grid-gap: 60px 20px;
    grid-template-columns:repeat(3, minmax(30px, 1fr));
    padding: 20px 20px 80px 20px;
    font-family:Raleway;
    font-weight:600;
    font-size:15px;
    border:1px solid white;
    width:80%;
    margin-top:-8px;
    justify-items: center;
  }
  .grid-item {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    height: 150px;
    text-align:center;
    font-family:Raleway;
    border-radius: 25px 25px 0 0;
    
  }
  .images{
    display:flex;
    object-fit:fill;
    align-self:center;
    width:100%;
    height:100%;
    border-radius: 25px 25px 0 0;
  }
  .btn-container{
    display:flex;
    justify-content: center;
    padding-left:20px;
    background-color: white;
    border-radius: 0 0 25px 25px ;
    padding-top:10px;
  }
  .btn2{
   background-color:inherit ;
  margin:0px 4px 7px 7px;
  color:black;
  border-radius: 5px;
  cursor:pointer;

  }
  .btn2:hover {
    transform: scale(1.2);
  }
  .btn2:focus,.btn2:visited {
  background-color:black;
  color:white;
  }


  /*about*/
  #about{
    height:100%;
    font-family: Raleway;
    font-size:15px;
    font-weight: 500;
    color:white;
    line-height:20px;
    padding:0 80px 0 80px;
  }
  
  .about-arr{
    display:flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  
  .heading{
    padding-top:50px;
    padding-left:25px;
  }
  .words,#words2{
    width:50%;
  }
  #words2{
    margin-left:80px;
   
  }
  #about-img1,#about-img2{
    width:40%;
    margin-left:50px;
      
  }
 .img-correct{
   border-radius:0;
 }
 @media screen and (max-width:900px){
.about-arr{
  flex-direction: column;  
}
#about-arr2{
  flex-direction: column-reverse;
}
#about-heading{
  padding-left:0;
}
#about-img1,#about-img2{
  width:100%;
  margin-left:0px; 
}
.words,#words2{
  width:100%;
  margin-left:0;
}
 }
 @media screen and (max-width:750px){
 .grid-container{
  grid-template-columns:repeat(2, minmax(30px, 1fr));
 }
}
 @media screen and (max-width:650px){
 #about{
  font-size:12px;
}
 }
 @media screen and (max-width:500px){
   .grid-container{
    grid-template-columns:repeat(1, minmax(30px, 1fr));
   }
   #nav{
     justify-content: center;
   }
 }
 /*interior*/
  #interior{
      height:100%;
      display:flex; 
      flex-direction:column;
      color:white;
      font-family: Raleway;
      font-weight: 500;
      padding: 0 80px 0 80px;
  }
  .heading2{
    padding-top:50px;
  }
  .box-img{
    margin-top:10px;
    width:100%;
  
  }
  #case{
    display:flex;
  }
  .box-img1{
   width:50%;
   margin-top:10px; 
   margin-right:10px;
  }

  .last-img{
    padding-bottom:50px;
  }
  .interior-img{
    object-fit:fill;
    align-self:center;
    width:100%;
   
  }


  /*contact*/
  #contact{
    height:100%;
    display:flex;
  font-family:Raleway;
  overflow-y:hidden;
 
    
}
#contact1{
  width:50%;
  display:flex;
  justify-content: center;
   padding-top:70px;
   color:white;
}

#contact2{
  width:50%;
  display:flex;
  justify-content: center;
   padding-top:80px;
} 
input,#textarea{
  background-color: inherit;
  border:2px solid white;
  border-radius: 15px;
  width:300px;
  height:30px;
  color:white;
  margin-bottom:20px;
  padding-left:10px;
}
#textarea{
  height:90px;
  font-family: Raleway;
}

::placeholder {
  color: white;
  opacity:0.7;
}


::-ms-input-placeholder {
 color: white;
 opacity:0.7;
}
@media screen and (max-width: 650px) {
#contact{
  flex-direction:column;
  padding-left: 25vw;
  font-size:14px;
}

input,#textarea{
  width:250px;
}
}
